## Backend
backend/**/*.pyc
backend/**/todoDB.sqlite3
backend/**/todo-testDB.sqlite3
backend/**/.idea/**
backend/**/migrations/00*
backend/.pytest_cache/**

## Webapp
webapp/node_modules/**
webapp/package-lock.json

